@tailwind base;
@tailwind components;
@tailwind utilities;

.flipbox:hover .flipbox-inner {
  transform: rotateY(180deg);
}

.group-hoverrize:hover .hoverrize-item {
  opacity: 0.5;
}

.hoverrize:hover .hoverrize-item {
  opacity: 1;
}